@import url("https://fonts.googleapis.com/css2?family=K2D:wght@400;700&family=Montserrat&display=swap");

:root {
    --bs-body-font-family: "K2D", sans-serif;
}
nav {
    backdrop-filter: blur(0.5rem);
}
.active:before {
    content: "→ ";
}

@media (min-width: 992px) {
    .active:before {
        content: "↓ ";
    }
}



#fondito {
    background: blue url('https://picsum.photos/id/10/2500/1666/') no-repeat top left;
    background-size: cover;
}
